-- CreateEnum
CREATE TYPE "TagCategory" AS ENUM ('蜃ｺ貍・, '繧ｸ繝｣繝ｳ繝ｫ', '蠖｢蠑・, '蜀・ｮｹ', '縺昴・莉・);

-- CreateEnum
CREATE TYPE "TagAction" AS ENUM ('add', 'remove');

-- CreateTable
CREATE TABLE "video" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "published_at" TIMESTAMP(3) NOT NULL,
    "thumbnail_url" TEXT,
    "video_type" TEXT NOT NULL,
    "channel_id" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "duration_seconds" INTEGER,

    CONSTRAINT "video_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "video_stat" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "video_id" TEXT NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL,
    "view_count" INTEGER NOT NULL,
    "like_count" INTEGER,
    "comment_count" INTEGER,

    CONSTRAINT "video_stat_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Tag" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "name" TEXT NOT NULL,
    "icon" TEXT,
    "icon_alt" TEXT,
    "category" "TagCategory",

    CONSTRAINT "Tag_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VideoTag" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "video_id" TEXT NOT NULL,
    "tag_id" TEXT NOT NULL,
    "current" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "VideoTag_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TagEdit" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "video_id" TEXT NOT NULL,
    "tag_id" TEXT NOT NULL,
    "user_id" TEXT,
    "action" "TagAction" NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "ip_address" TEXT,
    "anonymous_id" TEXT,

    CONSTRAINT "TagEdit_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "User" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "username" TEXT NOT NULL,
    "email" TEXT,
    "role" TEXT NOT NULL DEFAULT 'editor',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "last_login" TIMESTAMP(3),

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "video_published_at_idx" ON "video"("published_at");

-- CreateIndex
CREATE INDEX "video_video_type_idx" ON "video"("video_type");

-- CreateIndex
CREATE INDEX "video_channel_id_idx" ON "video"("channel_id");

-- CreateIndex
CREATE INDEX "video_stat_video_id_idx" ON "video_stat"("video_id");

-- CreateIndex
CREATE INDEX "video_stat_timestamp_idx" ON "video_stat"("timestamp");

-- CreateIndex
CREATE INDEX "VideoTag_video_id_idx" ON "VideoTag"("video_id");

-- CreateIndex
CREATE INDEX "VideoTag_tag_id_idx" ON "VideoTag"("tag_id");

-- CreateIndex
CREATE INDEX "TagEdit_video_id_idx" ON "TagEdit"("video_id");

-- CreateIndex
CREATE INDEX "TagEdit_timestamp_idx" ON "TagEdit"("timestamp");

-- AddForeignKey
ALTER TABLE "video_stat" ADD CONSTRAINT "video_stat_video_id_fkey" FOREIGN KEY ("video_id") REFERENCES "video"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VideoTag" ADD CONSTRAINT "VideoTag_tag_id_fkey" FOREIGN KEY ("tag_id") REFERENCES "Tag"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VideoTag" ADD CONSTRAINT "VideoTag_video_id_fkey" FOREIGN KEY ("video_id") REFERENCES "video"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TagEdit" ADD CONSTRAINT "TagEdit_tag_id_fkey" FOREIGN KEY ("tag_id") REFERENCES "Tag"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TagEdit" ADD CONSTRAINT "TagEdit_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TagEdit" ADD CONSTRAINT "TagEdit_video_id_fkey" FOREIGN KEY ("video_id") REFERENCES "video"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

