/* pages/admin/videos/[id].module.css */
.videoInfo {
  &__player {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 1rem;
  }

  &__description {
    white-space: pre-line;
    font-size: 0.7em;
    color: #888888;

    &--expanded {
      color: #333;
    }
  }
}
